# packages in environment at C:\Users\cyngus\miniconda3\envs\urine2:
#
# Name                    Version                   Build  Channel
blas                      1.0                         mkl  
bottleneck                1.3.5            py37h080aedc_0  
brotli                    1.0.9                h2bbff1b_7  
brotli-bin                1.0.9                h2bbff1b_7  
ca-certificates           2023.01.10           haa95532_0  
click                     8.0.4            py37haa95532_0  
colorama                  0.4.6            py37haa95532_0  
cycler                    0.11.0             pyhd3eb1b0_0  
fftw                      3.3.9                h2bbff1b_1  
flask                     2.2.2            py37haa95532_0  
flit-core                 3.6.0              pyhd3eb1b0_0  
fonttools                 4.25.0             pyhd3eb1b0_0  
freetype                  2.12.1               ha860e81_0  
icc_rt                    2022.1.0             h6049295_2  
icu                       64.2                 he025d50_1    conda-forge
importlib-metadata        4.11.3           py37haa95532_0  
intel-openmp              2021.4.0          haa95532_3556  
itsdangerous              2.0.1              pyhd3eb1b0_0  
jinja2                    3.1.2            py37haa95532_0  
joblib                    1.1.1            py37haa95532_0  
jpeg                      9e                   h8ffe710_2    conda-forge
kiwisolver                1.4.4            py37hd77b12b_0  
libbrotlicommon           1.0.9                h2bbff1b_7  
libbrotlidec              1.0.9                h2bbff1b_7  
libbrotlienc              1.0.9                h2bbff1b_7  
libhwloc                  2.8.0                h039e092_1    conda-forge
libiconv                  1.17                 h8ffe710_0    conda-forge
libpng                    1.6.39               h19919ed_0    conda-forge
libsqlite                 3.40.0               hcfcfb64_0    conda-forge
libtiff                   4.2.0                h0c97f57_3    conda-forge
libwebp                   1.0.2                hfa6e2cd_5    conda-forge
libxml2                   2.10.3               hc3477c8_0    conda-forge
libzlib                   1.2.13               hcfcfb64_4    conda-forge
markupsafe                2.1.1            py37h2bbff1b_0  
matplotlib                3.5.2            py37haa95532_0  
matplotlib-base           3.5.2            py37hd77b12b_0  
mkl                       2021.4.0           haa95532_640  
mkl-service               2.4.0            py37h2bbff1b_0  
mkl_fft                   1.3.1            py37h277e83a_0  
mkl_random                1.2.2            py37hf11a4ad_0  
munkres                   1.1.4                      py_0  
numexpr                   2.8.4            py37h5b0cc5e_0  
numpy                     1.21.5           py37h7a0a035_3  
numpy-base                1.21.5           py37hca35cd5_3  
opencv                    3.4.4           py37ha957b10_1205    conda-forge
openssl                   1.1.1s               h2bbff1b_0  
packaging                 22.0             py37haa95532_0  
pandas                    1.3.5            py37h6214cd6_0  
patsy                     0.5.3            py37haa95532_0  
pillow                    9.3.0            py37hdc2b20a_1  
pip                       23.0               pyhd8ed1ab_0    conda-forge
pthreads-win32            2.9.1                hfa6e2cd_3    conda-forge
pyparsing                 3.0.9            py37haa95532_0  
pyqt                      5.9.2            py37hd77b12b_6  
python                    3.7.12          h7840368_100_cpython    conda-forge
python-dateutil           2.8.2              pyhd3eb1b0_0  
python_abi                3.7                     3_cp37m    conda-forge
pytz                      2022.7           py37haa95532_0  
qt                        5.9.7                h506e8af_3    conda-forge
scikit-learn              1.0.2            py37hf11a4ad_1  
scipy                     1.7.3            py37h7a0a035_2  
setuptools                67.1.0             pyhd8ed1ab_0    conda-forge
sip                       4.19.13          py37hd77b12b_0  
six                       1.16.0             pyhd3eb1b0_1  
sqlite                    3.40.0               hcfcfb64_0    conda-forge
statsmodels               0.13.5           py37h080aedc_0  
tbb                       2021.7.0             h91493d7_1    conda-forge
threadpoolctl             2.2.0              pyh0d69192_0  
tk                        8.6.12               h2bbff1b_0  
tornado                   6.2              py37h2bbff1b_0  
typing_extensions         4.4.0            py37haa95532_0  
ucrt                      10.0.22621.0         h57928b3_0    conda-forge
vc                        14.3                hb6edc58_10    conda-forge
vs2015_runtime            14.34.31931         h4c5c07a_10    conda-forge
werkzeug                  2.2.2            py37haa95532_0  
wheel                     0.38.4             pyhd8ed1ab_0    conda-forge
xz                        5.2.6                h8d14728_0    conda-forge
zipp                      3.11.0           py37haa95532_0  
zlib                      1.2.13               hcfcfb64_4    conda-forge
zstd                      1.5.2                h12be248_6    conda-forge
